h3 {
font-style: italic;	
}

#fadeIn {
	width:80px;
	height:80px;
	display:none;
	background-color: aqua;
}
#fadeOut {
	width:80px;
	height:80px;
	display: block;
	background-color: darkcyan;
}

#fadeToggle {
	width:80px;
	height:80px;
	display:none;
	background-color: gold;
}

#fadeTo {
	width:80px;
	height:80px;
	display: block;
	background-color: antiquewhite;
}

#animateB {
	width:80px;
	height:80px;
	position: relative;
	background-color: skyblue;
}